body{
	background-image: url(images/nightsky.jpg);
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
}