
body{
	background-image: url(images/nightsky.jpg);
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;
}
header{
	overflow: auto;
	
}

header nav ul li{
	list-style-type: none;
	float: left;
	margin-left: 1em;
}

#sidebar{
	float: right;
	margin-right: 2%;
	margin-top: 2%;

}

#sidebar ul li{
	list-style-type: none;
}
.main_content{
	margin-top: 0.5em;
	padding: 15px 15px 30px 15px;
	
	border: 2px solid lightblue;
	border-radius: 1em;
}

.main_content img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 50%;
	
}

.splashImage{
	z-index: -10;

}

.sidebarImg img{
	width: 50px;
	border-radius: 1em;
}

form {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;

}

#myName{
	font-family: cursive;
	color: lightblue;
}

#myCourse{
	font-family: sans-serif;
	color: white;
}
#assignmentHeader{
	overflow: auto;
	margin-top: auto;
	width: 60%;
	margin-left: 35%;
	}
#assignmentHeader li{
	text-align: center;
	float: left;
	margin-right: 2em;

	

	
}